#header {
  background-color: #60B5FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 70px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 20px;
  margin: 0px;
  display: flex;
  align-items: center;
}